<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Contacto</title>
</head>
<body>
    <h1>
        <em>
            Contacto
        </em>
    </h1>
    <h2>
        <img src="static/cell.jpg" alt="celular" width="50" height="50"> Celular: +595 981 311355
    </h2>
    <h3>
        <img src="static/mail.png" alt="celular" width="50" height="50">Email: mathias@gmail.com
    </h3>
    <h5> <a href="{{url_for('inicio')}}"> volver a Inicio </a></h6>
</body>
</html>